---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { Icon } from 'astro-icon/components'

const blog = await getRecentPosts(SITE.homepagePostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" description={SITE.description} />
  <section class="section-block bg-muted/30 rounded-lg border">
    <div class="flex flex-col gap-y-4 p-6">
      <div class="flex flex-col gap-y-1.5">
        <h1 class="text-3xl leading-tight font-medium text-balance">Hello.</h1>
        <p class="text-muted-foreground text-sm">
          Welcome to my personal site.
        </p>
      </div>
      <div class="flex flex-wrap gap-3">
        <Link href="/about" class={buttonVariants({ variant: 'default' })}>
          About me
        </Link>
        {
          SITE.notesUrl && (
            <Link
              href={SITE.notesUrl}
              class={`${buttonVariants({ variant: 'ghost' })} group`}
              external
            >
              <Icon name="lucide:sticky-note" class="size-4" />
              Explore notes
              <Icon
                name="lucide:arrow-up-right"
                class="size-4 transition-transform group-hover:translate-x-1 group-hover:-translate-y-1"
              />
            </Link>
          )
        }
      </div>
    </div>
  </section>
  <section class="section-block flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/posts"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
