---
import IconChevronLeft from "@/assets/icons/IconChevronLeft.svg";
import LinkButton from "./LinkButton.astro";
import { SITE } from "@/config";

interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props as Props;
---

{
  SITE.showBackButton && (
    <LinkButton
      id="back-button"
      href="/"
      class:list={["shrink-0", className]}
      prefetch="hover"
    >
      <IconChevronLeft class="inline-block size-5 rtl:rotate-180" />
      <span>Go back</span>
    </LinkButton>
  )
}

<script>
  /* Synchronize stored back-link for the "Go back" button */
  function updateGoBackUrl() {
    const backButton: HTMLAnchorElement | null =
      document.querySelector("#back-button");

    const backUrl = sessionStorage.getItem("backUrl");

    if (backUrl && backButton) {
      backButton.href = backUrl;
    }
  }

  document.addEventListener("astro:page-load", updateGoBackUrl);
  updateGoBackUrl();
</script>
